
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap






.icon
  position: relative

  &:before
    content: ''
    display: block
    width: 37px
    height: 37px

  &-time
    &:before
      background: url(../img/icon-time.svg) no-repeat

  &-car
    &:before
      background: url(../img/icon-car.svg) no-repeat

  &-phone
    &:before
      background: url(../img/icon-phone.svg) no-repeat

  &-marker
    &:before
      background: url(../img/icon-marker.svg) no-repeat

  &-cart
    display: inline-block
    width: 28px
    height: 25px
    background: url(../img/icon-cart.svg) no-repeat
