@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header

	&-wrap
		display: flex
		align-items: center
		justify-content: space-between
		padding: 30px 0

	&-right
		display: flex
		flex-wrap: wrap


	&-info
		display: flex
		flex-wrap: wrap

		&__block
			margin-right: 90px

		&__item
			padding-left: 47px
			margin-bottom: 16px

			&:last-child
				margin-bottom: 0

			span
				display: block
				line-height: 22px
				letter-spacing: 0.05em

			strong
				display: block
				line-height: 22px
				letter-spacing: 0.05em

			&.icon
				&:before
					position: absolute
					top: 0
					left: 0

	&-cart-social

	&-cart
		width: 238px
		height: 48px
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 30px
		background: url(../img/cart-bg.svg)

		.icon
			top: -2px

		a
			display: inline-block
			padding-left: 9px
			line-height: 22px
			letter-spacing: 0.05em
			font-weight: bold
			color: #fff

	&-nav
		background: $main


.social-btn
	list-style: none
	text-align: center
	

	li
		display: inline-block
		margin-right: 22px
		
		&:last-child
			margin-right: 0

		a
			display: flex
			align-items: center
			justify-content: center
			width: 35px
			height: 35px
			background: #165735
			border-radius: 50%
			color: #fff
			font-size: 22px

	.fa
		line-height: 20px


.main-menu
	display: flex
	align-items: center
	justify-content: space-between
	padding: 20px 0
	list-style: none

	li

		a
			font-weight: 500
			color: #fff
			border-bottom: 1px solid transparent

			&:hover, &.active
				border-color: #fff
				opacity: 1



.breadcrumbs
	margin: 22px 0 45px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		line-height: 22px
		color: #BEBEBE


		+ li::before
			content: "-"
			padding: 0 12px 0 10px
			line-height: 22px
			color: #BEBEBE

		a
			color: #BEBEBE


.product
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 100px

	&-info
		width: 300px
		padding-right: 40px

		.btn
			padding: 9px 19px
			font-size: 18px
			border-color: $main

		.h2
			margin: 0 0 10px

		p
			margin-bottom: 20px
			line-height: 22px

		&__banner
			background: #DF6E6E
			padding: 23px 26px
			color: #fff

			&--all
				position: relative
				display: inline-block
				margin-top: 50px
				padding-right: 98px
				font-weight: 600
				font-size: 18px
				line-height: 22px
				color: #FFFFFF

				&:before
					content: ''
					position: absolute
					right: 0
					top: 8px
					width: 78px
					height: 7px
					background: url(../img/arrow-right.svg)

	&-wrap
		display: flex
		flex-wrap: wrap
		width: calc(100% - 300px)

		&.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px

	&-item

		&__img
			position: relative
			margin-bottom: 16px

			img
				display: block

			&:hover
				.product
				
					&-item
						&__overlay
							background: rgba(0, 0, 0, 0.69)
							.btn
								opacity: 1

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			transition: all .3s

			.btn
				padding: 5px 19px
				font-size: 18px
				opacity: 0
				color: #fff
				border-color: #fff


				&:hover, &:focus
					color: rgba(0, 0, 0, 0.69)
					border-color: #fff
					background-color: #fff

		&__info
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 18px

		&__header
			font-weight: 500
			a
				color: #165735


		&__like
			color: #FF2E2E

			span
				font-weight: 500
				padding-left: 4px

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between

		&__price
			font-weight: 600
			font-size: 28px
			line-height: 34px

	
	&-size
		margin-bottom: 32px
		list-style: none

		li
			display: inline-block
			margin-right: 16px

			input[type='radio']
				display: none

				&+label
					display: flex
					align-items: center
					justify-content: center
					width: 50px
					height: 50px
					border: 1px solid $main
					font-weight: 500
					font-size: 24px
					line-height: 29px
					cursor: pointer


				&:checked
					&+label
						background: $main
						color: #fff

	&-composition
		display: table
		margin-bottom: 35px

		li
			display: table-row

			>span
				display: table-cell
				padding: 5px 0
				line-height: 22px

				&:first-child
					min-width: 280px

			&.product
				&-composition
					&__header
						>span
							padding-bottom: 22px
							font-weight: 500
							font-size: 24px
							line-height: 29px

	&-attention
		position: relative
		padding: 14px 16px 12px 70px
		margin-bottom: 60px
		border: 2px solid #8CC04D
		font-weight: 500
		line-height: 22px

		&:before
			content: ''
			position: absolute
			left: 10px
			top: 12px
			width: 45px
			height: 39px
			background: url(../img/icon-warning.svg)

	&-options
		margin-bottom: 90px

		.check-list

			&__item
				display: inline-block
				margin-right: 30px

				&:last-child
					margin-right: 0

				input[type=checkbox]+label::before
					border: 2px solid #8CC04D

		p
			font-size: 14px
			line-height: 17px
			color: #868686





	
.btn
	display: inline-block
	padding: 7px 16px
	font-weight: 600
	color: #fff
	text-align: center
	border: 0
	font-size: 18px
	background-color: $main
	outline: none
	border-radius: 0

	&:hover, &:focus
		color: #165735
		opacity: 1

	&-transparent
		background-color: transparent
		color: #165735
		border: 2px solid

		&:hover, &:focus
			opacity: 1
			color: #fff
			background: $main
			border-color: $main
			opacity: 1

	&-dark
		padding: 12px 40px
		background: #165735
		font-weight: bold

		&:hover, &:focus
			color: #fff
			opacity: .8

	&-back
		position: relative
		display: inline-block
		margin: 20px 0 30px
		padding-left: 18px
		font-size: 12px
		line-height: 15px
		color: $main

		&:before
			content: ''
			position: absolute
			left: 0
			top: 4px
			width: 13px
			height: 8px
			background: url(../img/arrow-left.svg)


		














.interested
	margin-bottom: 120px

	.h2
		margin-bottom: 50px

	&-slider
		margin-left: -10px
		margin-right: -10px

		&__item
			margin-left: 10px
			margin-right: 10px



.footer
	padding: 70px 0
	background: #165735

	&-links
		display: flex
		flex-wrap: wrap
		margin-left: -15px
		margin-right: -15px
		margin-bottom: 50px

		&__item
			width: 20%
			padding-left: 15px
			padding-right: 15px

			&:last-child
				margin-left: 0

			.h4
				margin-bottom: 40px
				color: #fff

			ul
				list-style: none

				li
					margin-bottom: 18px

					a
						color: #fff
						letter-spacing: 0.05em
						line-height: 22px

	&-bottom
		display: flex
		justify-content: space-between

		&__text
			width: calc(100% - 220px)
			max-width: 1020px

			p
				margin-bottom: 20px
				line-height: 22px
				letter-spacing: 0.05em
				color: #fff

				a
					color: #fff

		&__contacts

			.social-btn
				margin-bottom: 50px

				li
					a
						background: #fff
						color: #165735

	&-tel
		>a
			display: inline-block
			margin-bottom: 5px
			font-size: 24px
			line-height: 29px
			letter-spacing: 0.05em
			font-weight: bold
			color: #fff

		&__messengers
			a
				font-size: 18px
				line-height: 22px
				letter-spacing: 0.05em
				color: #fff






.mobile-menu
	display: none

.catalog
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 100px

	.product
		&-wrap
			width: calc(100% - 450px)

			&.row	
				margin-left: -40px
				margin-right: -40px

				[class^='col']
					padding-left: 40px
					padding-right: 40px

		&-item
			margin-bottom: 50px


.sidebar
	width: 260px

	&-mobile__btn
		display: none

	.h2
		margin-bottom: 70px

		&+.h4
			margin-bottom: 10px
			font-weight: 600

	.h4
		margin-bottom: 20px
		font-weight: 500

	&-item
		padding-top: 12px
		padding-bottom: 30px
		border-top: 1px solid #9D9D9D

		&__btn
			padding-top: 18px
			display: flex
			align-items: center
			justify-content: space-between

			.btn
				padding: 9px 16px
				font-weight: 500
				font-size: 15px
				line-height: 18px

				&-transparent
					color: #9D9D9D
					border: 1px solid #9d9d9d

					&:hover
						color: #fff



#slider-range
	margin: 0 auto 0
	width: auto

.range-slider
	margin-bottom: 22px
	&> span
		display: block
		margin-bottom: 5px

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0 0 20px 0

	input
		display: inline-block
		width: 95px
		height: 33px
		line-height: 40px
		padding: 0 10px
		border: 1px solid #D4D4D4
		font-size: 18px
		line-height: 22px
		color: #9D9D9D
		outline: none
		background: #fff


	.ui-widget-header
		border: none
		background: #000

.amount-divider
	display: inline-block
	width: 24px
	height: 1px
	background: #000

.ui-widget-content
	height: 2px
	border-radius: 10px
	background: #C4C4C4
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 12px
	height: 12px
	border-radius: 50%
	border: 2px solid #8CC04D
	background: #fff

.ui-slider-horizontal
	.ui-slider-range
		height: 2px
		border-radius: 0
		background: #8CC04D
	.ui-slider-handle
		outline: none
		top: -5px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE




.check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 22px

		input[type="checkbox"], input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 45px
				cursor: pointer
				font-size: 18px
				line-height: 22px

				&::before
					content: ''
					position: absolute
					left: 0
					top: -5px
					width: 33px
					height: 33px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid #D5D5D5


			&:checked
				&+label
					&::before
						content: '\f00c'
						font-size: 18px
						color: #fff
						font-family: FontAwesome
						background: $main
						border-color: $main


.color

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 33px
				height: 33px
				margin-right: 16px
				margin-bottom: 11px
				cursor: pointer
				border: 1px solid #D5D5D5


			&:checked
				&+label
					border: 4px solid #D5D5D5


.article
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-bottom: 150px

	&-info
		width: 330px

		h2,.h2
			margin-bottom: 50px

		p
			margin-bottom: 20px
			line-height: 22px

			strong
				font-weight: 600



	&-text
		width: calc(100% - 360px)

		h3, .h3
			margin-bottom: 10px

		ul
			margin-bottom: 60px
			list-style: none

			li
				&:before
					content: '— '

		p
			margin-bottom: 15px


.form
	*::-webkit-input-placeholder 
		font-size: 18px
		line-height: 22px
		color: #9D9D9D

	*:-moz-placeholder 
		font-size: 18px
		line-height: 22px
		color: #9D9D9D
	*::-moz-placeholder 
		font-size: 18px
		line-height: 22px
		color: #9D9D9D

	*:-ms-input-placeholder
		font-size: 18px
		line-height: 22px
		color: #9D9D9D

	&-item
		margin-bottom: 30px

		&.required
			position: relative

			&:before
				content: '*'
				position: absolute
				right: -14px
				top: -5px
				font-size: 24px
				line-height: 29px
				color: #165735

		input
			width: 100%
			height: 66px
			padding: 0 20px
			line-height: 66px
			border: 2px solid #9D9D9D
			outline: none

			&:focus
				opacity: 1
				border-color: #165735

		textarea
			padding: 16px 20px
			width: 100%
			height: 100px
			border: 2px solid #9D9D9D
			resize: none

		>label
			display: block
			margin-bottom: 16px
			font-weight: 500
			font-size: 24px
			line-height: 29px



	&-phone
		max-width: 390px
		margin-bottom: 90px

		input
			width: 100%
			height: 85px
			margin-bottom: 35px
			line-height: 85px
			padding: 0 30px
			background: #FFFFFF
			border: 1px solid #D5D5D5
			font-size: 36px
			line-height: 44px
			color: #9D9D9D
			outline: none

		.btn
			min-width: 280px



		*::-webkit-input-placeholder 
			font-size: 36px
			line-height: 44px
			color: #9D9D9D	

		*:-moz-placeholder 
			font-size: 36px
			line-height: 44px
			color: #9D9D9D	
		*::-moz-placeholder 
			font-size: 36px
			line-height: 44px
			color: #9D9D9D	

		*:-ms-input-placeholder
			font-size: 36px
			line-height: 44px
			color: #9D9D9D

	&-message
		margin-bottom: 70px

		.h3
			margin-bottom: 15px

		&__wrap
			display: flex
			flex-wrap: wrap
			align-items: flex-start


			textarea
				margin-bottom: 23px
				width: 500px
				height: 150px
				border: 2px solid #8CC04D
				resize: none

			p
				width: calc(100% - 500px)
				padding-left: 20px
				font-size: 14px
				line-height: 17px
				color: #868686

		.btn
			width: 117px
			height: 45px
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-size: 20px
			line-height: 24px
			border-color: #9D9D9D


	&-question
		.h3
			margin-bottom: 15px

		.row
			margin-left: -25px
			margin-right: -25px

			[class^='col']
				padding-left: 25px
				padding-right: 25px

		p
			margin-bottom: 30px

		.btn
			width: 117px
			height: 45px
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-size: 20px
			line-height: 24px
			border-color: #9D9D9D

	&-order
		padding-top: 50px


		.check-list__item input[type=checkbox]+label, .check-list__item input[type=radio]+label
			font-weight: 500

		.check-list__item input[type=checkbox]+label::before, .check-list__item input[type=radio]+label::before
			border-width: 2px

		&__item
			padding-bottom: 15px

			p
				margin: 45px 0 50px

			.h3
				margin-bottom: 36px

			.check-list__item
				margin-bottom: 30px


					

		&__user
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.form-item
				width: 28%

				&.required:before
					top: 38px

				&:not(.required)
					width: 39%

		&__delivery
			
			&--wrap
				display: flex
				flex-wrap: wrap

				>div
					margin-right: 34px

			
			&--street
				width: 28%

			&--address
				width: 28%
				display: flex
				flex-wrap: wrap
				justify-content: space-between

				.form-item
					width: 32%

			&--time
				position: relative
				display: flex
				align-items: center
				justify-content: center
				width: 20%
				height: 66px
				padding: 0 20px
				line-height: 66px
				border: 2px solid #9d9d9d

				input
					width: 44px
					outline: none
					border: 0
					background-color: transparent
					font-size: 18px
					line-height: 22px
					color: #9D9D9D

				span
					padding-left: 10px
					padding-right: 10px
					font-size: 18px
					line-height: 22px
					color: #9D9D9D
		
		&__total
			display: flex
			justify-content: space-between
			margin-bottom: 20px
			padding-top: 20px
			border-top: 2.5px solid #9d9d9d


			.product-attention
				max-width: 946px
				height: 100%
				min-height: 72px
				margin-bottom: 0


.download

	.h3
		margin-bottom: 15px

	.btn
		min-width: 280px





.order

	&-total
		max-width: 290px
		width: 100%

		&__list
			margin-bottom: 60px
			list-style: none

			li
				margin-bottom: 5px
				display: flex
				align-items: center
				justify-content: space-between

				span
					font-weight: 500
					font-size: 24px
					line-height: 29px

				strong
					font-weight: 600
					font-size: 28px
					line-height: 34px

		.btn
			width: 100%
			height: 55px
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-weight: 600
			font-size: 24px
			line-height: 29px




.delivery

	&-price

		&__item
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 11px

			&--color
				width: 33px
				height: 33px
				margin-right: 12px

	&-map
		margin-bottom: 50px


.cart
	display: flex
	flex-wrap: wrap

	&-img
		width: 435px

	&-info
		width: calc(100% - 435px)
		padding-left: 170px

		.h2
			margin-bottom: 16px

		.product
			&-item

				&__like
					display: inline-block
					margin-bottom: 23px
					font-size: 22px
					font-weight: 500

					span
						padding-left: 6px

				&__price
					padding-right: 15px

		&__btn
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 40px

			.btn
				margin-left: 20px
				width: 152px
				height: 45px
				display: inline-flex
				align-items: center
				justify-content: center
				text-align: center
		
		&__block
			margin-bottom: 70px

			.h3
				margin-bottom: 16px

			p
				margin-bottom: 20px

				&:last-child
					margin-bottom: 0


	&-slider
		margin-bottom: 20px

		

		&__nav
			margin-left: -10px
			margin-right: -10px
			margin-bottom: 40px

			.slick-track
				margin: 0

			.slick-slide
				margin-left: 10px
				margin-right: 10px

			img
				margin: 0 auto


.contacts

	&-map
		margin-bottom: 30px

	&-block
		margin-bottom: 70px

		&__item
			position: relative
			display: block
			margin-bottom: 30px
			padding-left: 55px
			font-weight: 500
			font-size: 24px
			line-height: 29px
			letter-spacing: 0.05em

			a
				color: #165735
				font-size: 24px
				line-height: 29px
				letter-spacing: 0.05em

			&:last-child
				margin-bottom: 0

			&.icon
				&:before
					position: absolute
					left: 0
					top: -6px

				&-marker
					&:before
						background: url(../img/icon-marker-dark.svg) no-repeat

				&-phone
					&:before
						background: url(../img/icon-phone-dark.svg) no-repeat

			&.fa

				&:before
					content: ''
					width: 37px
					height: 37px
					display: flex
					align-items: center
					justify-content: center
					position: absolute
					left: 0
					top: -6px
					background: #165735
					border-radius: 50%
					font-family: FontAwesome
					font-size: 20px
					color: #fff

				&-facebook
					&:before
						content: "\f09a"

				&-instagram
					&:before
						content: "\f16d"

				&-vk
					&:before
						content: "\f189"


.count
	display: flex
	align-items: center
	width: 132px
	height: 45px
	background: #ECECEC

	&-block
		max-width: 132px


	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 45px
		height: 45px
		background-color: transparent
		border: 0
		outline: none
		font-weight: 500
		font-size: 24px
		line-height: 29px

	&-value
		width: 42px
		text-align: center
		font-weight: 500
		font-size: 24px
		line-height: 29px
		outline: none
		background-color: transparent
		border: 0

	&-unit
		padding-top: 5px
		text-align: center
		line-height: 22px


				
.basket
	padding-bottom: 150px

	&-wrap
		padding-bottom: 100px
		border-bottom: 2.5px solid #9D9D9D

	&-item
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 78px

		&:last-child
			margin-bottom: 0

		.h2
			margin: 0 0 20px

		.product-composition li.product-composition__header>span
			padding-bottom: 10px


		&__left
			display: flex
			flex-wrap: wrap
			width: calc(100% - 330px)

		&__right
			display: flex
			flex-wrap: wrap

		&__info
			padding-left: 20px

		&__price
			padding-top: 5px
			padding-left: 45px
			font-weight: 600
			font-size: 28px
			line-height: 34px



.burger-btn
	display: none
	width: 36px
	margin-right: 15px

	span
		display: block
		width: 100%
		height: 3px
		background: $main
		margin-bottom: 7px

		&:last-child
			margin-bottom: 0

	&:hover, &:foucs
		opacity: 1



.inscription
	padding: 8px 0
	font-weight: 600
	font-size: 18px
	line-height: 22px
	color: #fff













@media only screen and (max-width: 1599px)
	.catalog 
		.product
			&-wrap
				width: calc(100% - 360px)
				&.row
					margin-left: -15px
					margin-right: -15px

					[class^='col']
						padding-left: 15px
						padding-right: 15px

			&-item
				max-width: 280px
				margin: 0 auto 40px

	.cart
		&-info
			padding-left: 100px

	.required
		padding-right: 20px

	.form-item.required:before
		right: 0

	.form-question
		.row
			margin-left: -15px
			margin-right: -15px

			[class^=col]
				padding-left: 15px
				padding-right: 15px

	.form-order
		*::-webkit-input-placeholder 
			font-size: 16px

		*:-moz-placeholder 
			font-size: 16px


		*::-moz-placeholder 
			font-size: 16px

		*:-ms-input-placeholder 
			font-size: 16px

	.form-order__delivery
		&--address
			width: 30%

		&--time
			width: 26%

			input 
				width: 52px


	.product-item__bottom
		.btn
			font-size: 16px
	
	.product-item__price
		font-size: 26px



@media only screen and (max-width: 1365px)
	
	.logo
		max-width: 230px

	.product
		&-item
			&__header
				font-size: 14px

			&__price
				font-size: 18px
				line-height: 22px


	.cart
		&-info
			padding-left: 50px

	.form-message__wrap
		display: block
		

		p
			width: auto
			padding: 0 0 20px





@media only screen and (max-width: 1199px)
	.product
		display: block
		&-info
			width: auto
			padding-bottom: 30px

		&-wrap
			width: auto

	.catalog 
		.product
			&-wrap
				width: calc(100% - 300px)


	.form-order__user
		.form-item
			width: 48%
	.form-order__delivery
		&--street
			width: 48%

		&--address
			width: 44%

		&--time
			width: 48%
			margin-bottom: 20px

	.form-order__total
		display: block

	.order-total
		margin-bottom: 30px

	.order-total__list
		margin-bottom: 20px
		li 
			span
				font-size: 20px
				line-height: 26px

			strong
				font-size: 22px
				line-height: 26px

	.banner
		position: relative
		padding-bottom: 30px
		background: #F9AFC1
		color: #fff

		&:before
			content: ''
			position: absolute
			left: -15px
			right: -15px
			top: 0
			bottom: 0
			z-index: 0
			background: #F9AFC1

		.product-info__banner
			position: relative
			background: #F9AFC1

		.product-item__header a
			color: #fff

		.product-item__like
			color: #fff

		.btn
			background-color: transparent
			border: 2px solid
			color: #fff

	.product-info__banner--all
		margin-top: 30px
		padding: 10px 20px
		border: 2px solid #fff
		color: #fff
		width: 100%
		max-width: 380px
		text-align: center

		&:before
			display: none
















@media only screen and (max-width: 991px)

	.burger-btn
		display: block

	.mobile-menu
		display: block

	.header-cart-social
		display: flex
		align-items: center

	.header-cart
		position: relative
		top: 2px
		margin-bottom: 0
		width: auto
		height: auto
		background: #fff

		a
			font-size: 0

			span
				font-size: 26px
				font-weight: 500
				color: $main

		.icon-cart
			width: 36px
			height: 36px

			&:before
				width: 36px
				height: 36px
				background: url(../img/icon-car-green.svg) no-repeat
				background-size: contain

	.product
		&-item
			max-width: 280px
			margin: 0 auto 30px

	.footer
		padding: 30px 0 24px
		&-bottom
			display: block

			&__text
				width: auto
				padding-bottom: 20px

				p
					font-size: 14px
					line-height: 18px

			&__contacts
				width: auto
				text-align: center

				.social-btn
					margin-bottom: 30px

		&-address
			margin-bottom: 15px
			color: #fff
			font-weight: bold
			font-size: 14px
			line-height: 17px
			text-align: center
			letter-spacing: 0.05em

		&-tel
			a
				margin-bottom: 0
				font-weight: bold
				font-size: 14px
				line-height: 17px

			span
				font-size: 10px

		&-dev
			color: #fff
			font-size: 12px

			a
				color: #fff
	
	.article
		display: block

		&-info
			width: auto

			.h2, h2
				margin: 0 0 30px

		&-text
			width: auto

	.delivery
		&-price
			padding-bottom: 20px


	.cart
		display: block

		&-img
			width: auto
			max-width: 435px

		&-info
			padding: 0
			width: auto







@media only screen and (max-width: 768px)
	.footer
		&-bottom

			&__text

				p
					margin-bottom: 20px
					font-weight: 500
					font-size: 10px
					line-height: 12px


	.logo
		max-width: 100px

	.header
		&-wrap
			padding: 11px 0

		&-cart
			top: 1px

			.icon-cart
				width: 26px
				height: 23px

				&:before
					width: 26px
					height: 23px

			a
				padding-left: 5px

				span
					font-size: 20px
					line-height: 28px

	.burger-btn
		width: 25px

		span
			height: 2px
			margin-bottom: 5px

	.breadcrumbs
		margin: 15px 0 20px

		li
			font-size: 14px

	.h2, h2
		font-weight: 600
		font-size: 24px
		line-height: 29px

	.product
		&-wrap
			&.row
				display: flex
				margin-left: -7px
				margin-right: -7px

				[class^='col']
					width: 50%
					padding-left: 7px
					padding-right: 7px

		&-info
			padding-right: 0

			.h2, h2
				margin-top: 0
			p
				font-size: 14px
				line-height: 17px

			.btn-transparent
				display: block
				width: 100%
				max-width: 340px
				margin: 0 auto
				border-color: $main

		&-item

			&__like
				font-size: 14px

	.social-btn 
		li
			margin-right: 10px
			a
				width: 32px
				height: 32px

	.interested
		margin-bottom: 60px

		.h2
			margin-bottom: 20px
			font-size: 18px

	.scroll-top
		width: 100%
		padding: 9px 10px
		margin-bottom: 70px
		border-color: #C4C4C4
		font-weight: 600
		font-size: 14px
		line-height: 17px
		color: #8CC04D
		border-radius: 0

		&:hover, &:focus
			background-color: transparent
			opacity: 1
			color: #8CC04D

		span
			position: relative
			padding-left: 16px

			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 8px
				height: 20px
				background: url(../img/arrow-top.svg)

	.catalog
		display: block

		.product-wrap.row
			width: auto

	.sidebar
		margin-bottom: 40px
		width: auto
		max-width: 380px

		&-filter-btn
			position: relative
			display: inline-block
			padding-bottom: 2px
			border-bottom: 1px solid #9D9D9D
			font-weight: 600
			font-size: 14px
			line-height: 17px
			color: $main


			&:before
				content: ''
				position: absolute
				right: -20px
				top: 5px
				border: 5px solid transparent
				border-top: 7px solid $main

			&.active
				border: 0

				&:before
					border: 5px solid transparent
					border-top: 0
					border-bottom: 7px solid $main

				&+.sidebar-item
					border-top: 0

		&-item
			display: none

		
		.h2
			margin: 0 0 30px

		&-filter-btn
			
	.h3, h3
		font-size: 20px
		line-height: 26px

	.h4, h4
		font-size: 16px
		line-height: 20px

	.article
		padding-bottom: 80px

		&-text
			ul
				margin-bottom: 40px

				li
					font-size: 16px
					line-height: 20px

			h3, .h3
				br
					display: none

	.form-phone
		input
			height: 60px
			padding: 0 20px
			font-size: 20px
			line-height: 20px

		*::-webkit-input-placeholder 
			font-size: 20px

		*:-moz-placeholder 
			font-size: 20px

		*::-moz-placeholder 
			font-size: 20px

		*:-ms-input-placeholder 
			font-size: 20px

	.form-message__wrap textarea
		width: 100%

	.product-composition li.product-composition__header>span
		font-size: 12px
		padding-bottom: 0
		font-weight: bold

	.product-composition li>span
		font-size: 12px

	.product-composition li>span:first-child
		min-width: auto
		padding-right: 20px

	.cart-info__btn
		display: block

		.btn
			width: 140px
			margin: 0

		.product-item__price
			font-size: 24px

	.product-size
		margin-bottom: 15px

		li input[type=radio]+label
			width: 36px
			height: 36px
			font-size: 18px

	.product-attention
		font-size: 14px
		margin-bottom: 40px

	.cart-info__block
		margin-bottom: 40px

	.cart-img
		overflow: hidden


	.contacts-block
		margin-bottom: 40px

		&__item
			font-size: 18px
			margin-bottom: 20px

	.form
		&-item
			margin-bottom: 15px

			input
				height: 50px

		*::-webkit-input-placeholder 
			font-size: 16px

		*:-moz-placeholder 
			font-size: 16px


		*::-moz-placeholder 
			font-size: 16px


		*:-ms-input-placeholder 	
			font-size: 16px

		&-question
			p
				margin-bottom: 20px
				font-size: 14px

	.basket
		padding-bottom: 70px

		&-item
			margin-bottom: 50px
			padding-bottom: 10px
			display: block
			border-bottom: 1px solid #8CC04D

			&__img
				margin-bottom: 20px


			&__left
				width: auto

			&__rigth
				width: auto

	.form-order__user
		.form-item
			width: 100%

	.form-order__delivery
		&--street
			width: 100%

		&--address
			width: 100%

		&--time
			width: 100%

	.form-order__user .form-item:not(.required)
		width: 100%

	.form-order__delivery--wrap>div
		margin-right: 0

	.form-item input
		padding: 0 15px


	.product-info__banner
		padding-left: 0

		&--all
			margin-top: 0


















@media only screen and (max-width: 450px)
	.product
		margin-bottom: 40px

		&-item

			&__info
				flex-direction: column
				margin-bottom: 5px


			&__bottom
				flex-direction: column

				.btn
					width: 100%

			&__price
				margin-bottom: 10px

			&__img
				margin-bottom: 10px

			&__header
				padding-bottom: 5px